/*
  The Name:
  Author: 
  Support: 
  Description: 
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/
/* ============================ deafult section start ============================== */
/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.tk-roboto{
    font-family: "Roboto", sans-serif;
}
.tk-rubik{
    font-family: "Rubik", sans-serif;
}


body {
	font-size: 15px;
	line-height: 1.5;
	font-weight: 400;
    font-family: "Roboto", sans-serif;
	color: #242424;
    background-color: #FFFCF6;
    overflow: hidden;
}

/* lenis */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

/* lenis */

/* scroll bar */
.os-scrollbar-handle {
	background: #E06138;
}

body>.os-scrollbar {
	z-index: 999;
}

/* scroll bar */

img {
	max-width: 100%;
	height: auto;
}

/* animation */
.animation-line {
	overflow: hidden;
}

/* animation */

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

.bg-fix {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* container */
.container {
	max-width: 1404px;
}

/* z-index */
.z-4 {
	z-index: 4 !important;
}

.z-5 {
	z-index: 5 !important;
}

.z-6 {
	z-index: 6 !important;
}

/* z-index */

/* input */
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="url"], textarea {
    width: 100%;
    padding: 11px 12px;
    background: #fff;
    border: 1px solid #000;
    color: #505050;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
    border-radius: 8px;
    display: block;
}

textarea {
	height: 144px;
}

input:focus,
textarea:focus {
	outline: none;
	box-shadow: none;
}

::placeholder {
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* input */


.animation-line p:last-child,
.mb-p p:last-child {
	margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #17442C;
	font-weight: 600;
	line-height: 1.2;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
}

h1 {
	font-size: 90px;
}

h2 {
	font-size: 55px;
}

h3 {
	font-size: 39px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 23px;
}


/* all font color */
.font-white{
    color: #fff;
}
/* all font color */
.btn-1 {
    display: inline-block;
    background: #FBF5E7;
    color: #FBF5E7;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 30px;
    padding: 12px 25.5px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    border: 3px solid #1D472F;
    transition: all 0.3s linear;
}
.our-menu-wrapper ul li a::before,
.btn-1::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 30px;
    background: #1D472F;
    z-index: -1;
    transition: all 0.3s linear;

}
.btn-1:hover{
    color: #FBF5E7;
}
.our-menu-wrapper ul li.active:hover a::before ,
.btn-1:hover::before{
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
}
.btn-1.orange-version {
    padding: 15px 23px;
    border: 3px solid #E06138;
}
.btn-1.orange-version::before{
    background:#E06138;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    top: 3px;
    left: 3px;
}
.btn-1.orange-version:hover::before{
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
}
.btn-1.version-2::before{
    display: none;
}
.btn-1.version-2 {
    border: 3px solid #F4ECE1;
    background: #1D462E;
}
/* all button */

/* all button */

/* ============================ deafult section end ============================== */

/* ============================ header section start ============================== */

/* header offcanvas start*/
.offcanvas {
    background-color: #1D462E;
    border: 0;
}
.offcanvas-header {
    padding: 0px 29px;
}

.offcanvas-body {
    padding: 41px 45px 48px;
}

.humbarger-btn {
    border: 0;
    height: 47px;
    width: 47px;
    background: #F4ECE1;
    transition: all 0.3s linear;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid #E06138;
}
.humbarger-btn::before{
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 50%;
    z-index: -1;
    background: #E06138;
}
.humbarger-btn span {
    display: block;
    background-color: #F4ECE1;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 25px;
    transition: all 0.3s linear;
    left: 50%;
    transform: translate(-50%, -1.5px);
}
.humbarger-btn span:nth-child(1) {
	top: 14.5px;
}
.humbarger-btn span:nth-child(2) {
    top: 21.5px;
    opacity: 1;
    visibility: visible;
}
.humbarger-btn span:nth-child(3) {
    top: auto;
    bottom: 12px;
}

.humbarger-btn.open span:nth-child(1) {
	top: 8px;
}
.humbarger-btn.open span:nth-child(3) {
    top: auto;
	bottom: 6px;
}
.humbarger-btn.open span:nth-child(2) {
	opacity: 0;
    visibility: hidden;
}

.btn-close {
    --bs-btn-close-bg: none;
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 1;
    border: 0;
    border-radius: 0;
    height: 47px;
    width: 47px;
    gap: 0px;
    -webkit-transition: top ease .3s, -webkit-transform ease .3s .3s;
    -o-transition: top ease .3s, transform ease .3s .3s;
    transition: background-color ease .3s, top ease .3s, transform ease .3s .3s,
		-webkit-transform ease .3s .3s;
    background-color: #F4ECE1;
    border-radius: 50%;
    border: 2px solid #E06138;
    position: relative;
    z-index: 1;
}
.btn-close::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    z-index: -1;
    background: #E06138;
    border-radius: 50%;
}

.header-offcanvas .btn-close {
	padding: 0;
	margin: 0;
}

.btn-close span {
    background-color: #FFFFFF;
    height: 2px;
    width: 20px;
    -webkit-transition: top ease .3s, -webkit-transform ease .3s .3s;
    -o-transition: top ease .3s, transform ease .3s .3s;
    transition: top ease .3s, transform ease .3s .3s,
		-webkit-transform ease .3s .3s;
}
.btn-close:focus {
    box-shadow: none;
}
.offcanvas-logo img {
    max-width: 145px;
}
.header-offcanvas  .span-line-wrapper {
    margin-bottom: 28px;
    margin-top: 8px;
}
.header-offcanvas  .span-line {
    margin-bottom: 4px;
    height: 2px;
    background: #FBF5E7;
}
.header-offcanvas  .span-line:last-child {
    margin-bottom: 0;
    height: 2px;
}
.header-offcanvas  .span-line:first-child{
    height: 4px;
}
.offcanvas-shape {
    top: 33px;
    right: 0;
    max-width: 182px;
}
.our-menu-wrapper ul ,
.mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu ul li {
    margin-bottom: 15px;
}
.mobile-menu ul li:last-child{
    margin-bottom: 0;
}
.mobile-menu ul li{
    margin-bottom: 10px;
}
.mobile-menu ul li a {
    color: #FBF5E7;
    font-family: "Rubik", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
}
.mobile-contact-item h6 {
    color: rgba(251, 245, 231, 0.75);
    font-size: 22px;
    line-height: 1.5;
}
.mobile-contact-item a {
    color: rgba(251, 245, 231, 0.75);
    font-family: "Rubik", sans-serif;
    font-size: 18px;
}
.text-under-line a{
    text-decoration: underline;
}
.mobile-contact-item {
    margin-bottom: 23px;
}
.mobile-contact-item:last-child{
    margin-bottom: 0;
}
.mobile-contact-item:last-child{
    margin-bottom: 0;
}
.mobile-menu-wrapper .socials-links {
    gap: 38px;
    margin-top: 14px;
}
.header-offcanvas .span-bottom-link-wrapper {
    margin-bottom: 10px;
    margin-top: 0;
}
.header-offcanvas  .span-bottom-link-wrapper  .span-line{
    height: 4px;
}
.header-offcanvas  .span-bottom-link-wrapper  .span-line:first-child {
    height: 2px;
}
.header-offcanvas .span-bottom-link-wrapper  .span-line {
    margin-bottom: 7px;
    height:4px;
}
/* header offcanvas end*/
.header-area {
    padding: 49px 0;
}
.header-area .container {
    max-width: 1578px;
}
.right-button-wrapper {
    padding-right: 38px;
}
.button-wrapper .btn-1:nth-child(1) {
    padding: 12px 21px;
}
.header-shape {
    z-index: -1;
    max-width: 632px;
    top: -324px;
    right: -172px;
    opacity: 0.21;
}
.button-wrapper {
    gap: 25px;
}
.header-logo img {
    max-width: 328px;
}
/* ============================ header section end ============================== */

/* ============================ banner section start ============================== */
.banner-area {
    margin-top: 20px;
}
.banner-area .container{
    max-width: 1508px;
}
.banner-content {
    max-width: 1194px;
    margin-bottom: 70px;
}
.banner-content p{
    margin-bottom: 0;
}
.banner-content h1 {
    color: #E06138;
    margin-bottom: 20px;
}
.banner-content p {
    font-size: 21px;
}
.video-area{
    border-radius: 25px;
}
.video-area video {
    height: 764px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.banner-shape {
    max-width: 656px;
    top: 104px;
    z-index: -1;
    left: -184px;
    opacity: 0.21;
}
/* ============================ banner section end ============================== */

/* ============================ chef section start ============================== */
.chef-area {
    padding-top: 159px;
}
.chef-area .row{
    --bs-gutter-x:0px;
}
.chef-area .col:nth-child(2){
    max-width: 623px;
}
.sub-title{
    display: inline-block;
    color: #E06138;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.chef-img-wrapper .chef-img{
    border-radius: 30px;
}
.chef-img-wrapper  .circle-img {
    position: absolute;
    top: -38px;
    right: -41px;
}
.chef-content {
    max-width: 665px;
    margin-left: auto;
    margin-right: 0;
    padding-right: 108px;
    margin-top: 110px;
}
.chef-content .sub-title {
    margin-bottom: 22px;
}
.chef-content h2 {
    margin-bottom: 31px;
    font-size: 90px;
    line-height: 1;
}
.chef-content-caption p{
    font-size: 17px;
}
.chef-shape {
    max-width: 781px;
    left: -197px;
    top: 126px;
    z-index: -1;
    opacity: 0.23;
}
/* ============================ chef section end ============================== */

/* ============================ supplier section start ============================== */
.supplier-area{
    padding-top: 126px;
}
.supplier-area .sub-title{
    margin-bottom: 21px;
}
.supplier-area .section-title-wrapper{
    margin-bottom: 100px;
}
.supplier-area .section-title-wrapper h2 {
    font-size: 81px;
}
.supplier-card-img-wrapper img{
    border-radius: 30px;
    min-height: 275px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
}
.supplier-card-wrapper .btn-1 {
    background: transparent;
    position: absolute;
    bottom: 32px;
    left: 0;
    color: #FFFFFF;
    border-radius: 0px 30px 30px 0px;
    padding: 15px 24px 15px 14px;
    border: 0;
}
.supplier-card-wrapper .btn-1::before {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 4px solid #FFFCF6;
    border-radius: 0px 30px 30px 0px;
    border-left: 0;
    opacity: 1;
    visibility: visible;
    background: transparent;
}
.supplier-card-wrapper:hover .btn-1 {
    background: #E06138;
    padding: 15px 28px 15px 14px;
}
.supplier-card-wrapper:hover .btn-1::before{
    opacity: 0;
    visibility: hidden;
}
.supplier-card-wrapper:hover .btn-1::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: calc(100% - 4px);
    width: calc(100% - 3px);
    border: 1.5px solid #FFFCF6;
    border-left: 0;
    border-radius: 0px 30px 30px 0px;
    transition: all 0.3s linear;
}
.supplier-card-wrapper:hover .btn-1::after{
    opacity: 1;
    visibility: visible;
}
.supplier-content-wrapper {
    margin-top: 36px;
}
.supplier-content-wrapper h6 {
    color: #242424;
    text-transform: capitalize;
}
.supplier-card-area .row {
    --bs-gutter-x: 46px;
    --bs-gutter-y: 46px;
}
.supplier-shape-1 {
    max-width: 262px;
    top: -42px;
    left: -42px;
    z-index: -1;
    opacity: 0.23;
}
.supplier-shape-2 {
    top: 58px;
    right: -98px;
    max-width: 316px;
    z-index: -1;
    opacity: 0.31;
}
.supplier-circle-img {
    position: absolute;
    top: -74px;
    left: -57px;
    z-index: 2;
    max-width: 184px;
}
.supplier-card-area {
    padding-left: 13px;
}
/* ============================ supplier section end ============================== */

/* ============================ testimonial section start ============================== */
.testimonial-area {
    padding: 140px 0;
}
.testimonial-content blockquote {
    color: #E06138;
    font-family: "Rubik", sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 28px;
}
.testimonial-content h6 {
    color: #1D472F;
    font-size: 30px;
    font-weight: 700;
}
.testimonial-content {
    max-width: 849px;
}
/* swiper */
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,14px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,14px));
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
}
.testimonial-area .swiper {
    padding-bottom: 54px;
}
.swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    border: 2px solid #E0C5A5;
}
.swiper-pagination-bullet-active {
    background: #E0C5A5;
}
/* swiper */
.testimonial-shape-1 {
    top: 42px;
    left: -86px;
    max-width: 494px;
    z-index: -1;
}
.testimonial-shape-2 {
    top: 148px;
    right: -78px;
    max-width: 441px;
    z-index: -1;
    opacity: 0.45;
}
/* ============================ testimonial section end ============================== */


/* ============================ cta section start ============================== */
.cta-area {
    padding: 93px 0 100px;
}
.cta-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(32, 32, 32, 0.53);
    z-index: 1;
}
.cta-conent {
    max-width: 882px;
}
.cta-conent h2 {
    text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.45);
    font-size: 95px;
    line-height: 1.02;
    letter-spacing: 8.55px;
    margin-bottom: 35px;
}
.cta-conent .btn-1 {
    padding: 15px 35px;
}
/* ============================ cta section end ============================== */

/* ============================ footer section start ============================== */
.footer-area{
    padding: 22px 0 60px;
    background: #1D462E;
}
.footer-area .container {
    max-width: 1584px;
}
.footer-area .row {
    --bs-gutter-x: 0;
}
.footer-logo {
    max-width: 414px;
    margin-left: 43px;
    margin-right: 20px;
}

.footer-main-menu .col:nth-child(2) {
    max-width: 265px;
}
.footer-main-menu .col:nth-child(3){
    max-width: 305px;
}
.footer-main-menu .col:nth-child(4) {
    max-width: 270px;
    margin-left: -77px;
}
.footer-main-menu .col:nth-child(5){
    max-width: 250px;
} 
.other-link-wrapper  a ,
.copy-right-caption p ,
.footer-item-wrapper h6 ,
.footer-item-info p{
    color: #FBF5E7;
    line-height: 1.5;
}
.footer-item-wrapper h6 {
    font-size: 22px;
    font-weight: 700;
}
.footer-item-info p {
    font-family: "Rubik", sans-serif;
    font-size: 19px;
}
.num-link ,
.footer-item-info a{
    color: #FBF5E7;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    display: block;
    transition: all 0.3s linear;
}

.footer-item-info .num-link{
    font-size: 17px;
}
.socials-link-wrapper{
    gap: 22px;
}
.footer-item-info .num-link:hover ,
.footer-item-info a:hover,
.address-info a ,
.socials-link-wrapper a{
    text-decoration: none;
}
.footer-item-info a {
    margin-bottom: 7px;
}
.footer-item-info a:last-child{
    margin-bottom: 0;
}
.footer-item .footer-item-info a{
    margin-bottom: 5px;
}
.footer-item {
    margin-bottom: 14px;
}
.footer-item:last-child{
    margin-bottom: 0;
}
.footer-item-wrapper .btn-1.version-2{
    margin-bottom: 18px;
}
.footer-item-wrapper .btn-1.version-2:last-child{
    margin-bottom: 0;
}
.footer-item-wrapper .btn-1.version-2:nth-child(1){
    padding: 12px 23px;
}
.footer-item-wrapper .btn-1.version-2:nth-child(2) {
    padding: 12px 39.5px;
}
.span-line{
    width: 100%;
    height: 3px;
    background: #FCF6E7;
    margin-bottom: 15px;
}
.span-line:last-child{
    margin-bottom: 0;
    height: 4px;
}

.span-line-wrapper {
    margin-bottom: 75px;
}
.other-link-wrapper  a ,
.copy-right-caption p {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.other-link-wrapper{
    gap: 24px;
}
.other-link-wrapper  a{
    text-decoration: underline;
    transition: all 0.3s linear;
}
.other-link-wrapper  a:hover{
    text-decoration: none;
}
.copy-right-wrapper {
    margin-top: 43px;
    margin-left: 43px;
}

/* ============================ footer section end ============================== */

/* ============================ single banner section start ============================== */
.single-banner-area {
    margin-top: 10px;
}
.single-banner-area .container {
    max-width: 1494px;
}
.single-banner-content {
    min-height: 534px;
    padding-bottom: 179px;
}
.content-wrapper-img  img ,
.single-banner-content, 
.single-banner-content::before{
    border-radius: 41px;
}
.single-banner-content::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(32, 32, 32, 0.41);
    z-index: 1;
}
.single-banner-content h1, 
.single-banner-content h2{
    color: #FFFCF6;
} 
.single-banner-content h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 9.6px;
}
.single-banner-content h2{
    text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    font-size: 88px;
    letter-spacing: 12.32px;
}
.single-banner-circle-img {
    z-index: 4;
    max-width: 184px;
    top: -28px;
    left: -47px;
}
.single-banner-shape-1 {
    max-width: 309px;
    top: -258px;
    right: 27px;
    opacity: 0.29;
}
.single-banner-shape-2 {
    top: -358px;
    right: -190px;
    max-width: 636px;
    transform: rotateZ(43.96deg);
}
/* ============================ single banner section end ============================== */

/* ============================ our menu area section start ============================== */
.our-menu-area {
    padding: 83px 0 133px;
}
.our-menu-area .container {
    max-width: 888px;
}
.our-menu-wrapper {
    margin-bottom: 64px;
}
.our-menu-wrapper ul li a::before, 
.our-menu-wrapper ul li a ,
.our-menu-wrapper ul{
    border-radius: 34px;
}
.our-menu-wrapper ul {
    border: 3px solid #E06138;
}
.our-menu-wrapper ul li{
    display: inline-block;
}
.our-menu-wrapper ul li a {
    color: #1D462E;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    border: 3px solid transparent;
    display: inline-block;
    padding: 16px 30.7px;
    margin-top: -3px;
    margin-bottom: -3px;
    transition: all 0.3s linear;
}
.our-menu-wrapper ul li:first-child a{
    margin-left: -3px;
}
.our-menu-wrapper ul li:last-child a{
    margin-right: -3px;
}
.our-menu-wrapper ul li.active a{
    border-color:#E06138;
    color: #FBF5E7;
}
.our-menu-wrapper ul li a::before {
    background-color: #E06138;
    opacity: 0;
    visibility: hidden;
}
.our-menu-wrapper ul li.active a::before{
    opacity: 1;
    visibility: visible;
}

.our-menu-item {
    margin-bottom: 34px;
}
.our-menu-item:last-child{
    margin-bottom: 0;
}
.our-menu-item p {
    font-size: 19px;
    margin-bottom: 0;
}
.highlight-caption {
    color: #E06138;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
}

/* menu shape  */
.z-nagative{
    z-index: -1;
}
.menu-shape-1 {
    top: 142px;
    left: 72px;
    max-width: 241px;
}
.menu-shape-2 {
    max-width: 786px;
    left: -252px;
    bottom: 133px;
}
.menu-shape-3 {
    top: 68px;
    right: 0;
    max-height: 746px;
    transform: rotate(-48.24deg);
    opacity: 0.34;
}
.menu-shape-4 {
    max-width: 230px;
    right: 115px;
    bottom: 239px;
    opacity: 0.23;
}
.menu-shape-5 {
    max-width: 640px;
    left: -243px;
    top: 150px;
}
.menu-shape-6 {
    max-width: 232px;
    top: 50%;
    transform: translateY(-50%) rotate(34.09deg);
    left: 94px;
    margin-top: -40px;
}
.menu-shape-7 {
    max-width: 634px;
    left: -221px;
    bottom: 210px;
}
.menu-shape-8 {
    max-height: 257px;
    right: -235.89px;
    top: 250px;
    transform: rotate(40.4deg);
}
.menu-shape-9 {
    max-width: 288px;
    top: 614px;
    right: 64px;
    transform: rotate(-26.17deg);
}
.menu-shape-10 {
    max-width: 735.88px;
    bottom: 517px;
    right: -220px;
    transform: rotate(-9.26deg);
}
.menu-shape-11 {
    max-width: 602px;
    bottom: 109px;
    right: -187px;
    transform: rotate(25.75deg);
}
.menu-shape-12 {
    max-width: 534px;
    top: 70px;
    left: -200px;
}
.menu-shape-13 {
    max-width: 441px;
    bottom: 100px;
    right: -56px;   
}
.menu-shape-14 {
    top: -414px;
    left: -147px;
    max-height: 632px;
}
.menu-shape-15 {
    max-width: 259px;
    left: 63px;
    bottom: 155px;
}
.menu-shape-16 {
    max-width: 333px;
    right: -51px;
    bottom: 76px;
    opacity: 0.38;
    transform: rotate(-39.37deg);
}
.menu-shape-17{
    max-height: 200px;
    top: 120px;
    left: -53px;
}
.menu-shape-18 {
    max-width: 703px;
    left: -340px;
    transform: rotate(-8.65deg);
    top: 110px;
}
.menu-shape-19 {
    max-width: 232px;
    bottom: 128px;
    right: 100px;
    transform: rotate(34deg);
}
.menu-shape-20 {
    max-width: 233px;
    top: 48px;
    right: -36px;
}

/* opacity: 0.33  */
.testimonial-shape-1 ,
.menu-shape-12 {
    opacity: 0.33;
}
/* opacity: 0.33  */
.menu-shape-20 ,
.menu-shape-5,
.menu-shape-7 ,
.menu-shape-9,
.menu-shape-10{
    opacity: 0.32;
}
/* opacity: 0.35  */
.single-banner-shape-2 ,
.menu-shape-19 ,
.menu-shape-18 ,
.menu-shape-17 ,
.menu-shape-1 ,
.menu-shape-6,
.menu-shape-8,
.menu-shape-13 ,
.menu-shape-14 ,
.menu-shape-15{
    opacity: 0.35;
}
/* opacity: 0.40  */
.menu-shape-2,
.menu-shape-11 {
    opacity: 0.4;
}

/* menu shape  */
.extra-sides-area {
    margin-top: 70px;
}
.extra-sides-area h2 {
    color: #E06138;
    font-size: 88px;
    letter-spacing: 5.28px;
    margin-bottom: 55px;
}
.extra-sides-area h3 {
    color: #1D462E;
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 33px;
}
.extra-sides-area h3:last-child{
    margin-bottom: 0;
}

/* ============================ our menu area section end ============================== */

/* ============================ content wrapper area start ============================== */
.content-wrapper-area {
    padding: 54px 0 128px;
}
.contact-wrapper-area .container {
    max-width: 1416px;
}
.content-wrapper-area > .container > .row {
    --bs-gutter-x: 0;
}
.content-wrapper-area .row .col:nth-child(1) {
    max-width: 610px;
}
.contact-info {
    margin-bottom: 23px;
}

.contact-content h1 {
    color: #E06138;
    font-size: 48px;
    font-weight: 700;
}
.contact-content p {
    font-size: 23px;
}
.contact-info label {
    color: #000;
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
}
.contact-form-wrapper .nice-select{
    margin-bottom: 23px;
}
.contact-form-wrapper  .btn-1 {
    margin-top: 11px;
    padding: 12px 27.2px;
}
.contact-wrapper-area {
    max-width: 640px;
    margin-left: 100px;
    margin-top: 10px;
}
.contact-content {
    margin-bottom: 23px;
}
.contact-form-wrapper .row {
    --bs-gutter-x: 24px;
}
/* nice select */
.nice-select {
    border-radius: 8px;
    border: 1px solid #000;
    height: 48px;
    line-height: 48px;
    color: #505050;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.nice-select:hover {
    border-color: #000;
}
.nice-select:after {
    margin-top: -8px;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    height: 11px;
    width: 11px;
    right: 18px;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #F5F5F5;
}
/* nice select */

/* content shape */
.content-shape-1 {
    max-width: 646px;
    top: -341px;
    right: -97px;
    transform: rotateZ(268deg);
    opacity: 0.21;
}
.content-shape-2 {
    max-width: 205px;
    right: -34px;
    bottom: 27px;
    transform: rotateZ(-100deg);
    opacity: 0.2;
}
.content-shape-3 {
    max-width: 230px;
    opacity: 0.23;
    left: 67px;
    top: -41px;
}
.content-shape-4 {
    max-width: 774px;
    opacity: 0.31;
    top: -242px;
    right: -170px;
    transform: rotateZ(-130.87deg);
}
.content-shape-5 {
    max-width: 205px;
    opacity: 0.20;
    transform: rotateZ(-102deg);
    bottom: -124px;
    right: 547px;
}
.content-shape-6 {
    max-width: 276px;
    opacity: 0.23;
    top: -50px;
    left: 270px;
}
.content-shape-7 {
    max-width: 968px;
    left: -188px;
    transform: rotate(75deg);
    opacity: 0.32;
    top: -132px;
}
/* content shape */

/* thank you content start  */
.thank-you-content-wrapper h1 {
    color: #1D462E;
    font-size: 77px;
    font-weight: 700;
    line-height: 1.08;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.thank-you-info p {
    color: #000;
    font-family: "Rubik", sans-serif;
    font-size: 26px;
    margin-bottom: 36px;
}
.thank-you-content-wrapper {
    max-width: 645px;
    margin-left: 107px;
    margin-bottom: 103px;
}
.thank-you-info {
    margin-bottom: 36px;
}
.other-conent-wrapper .btn-1 ,
.thank-you-content-wrapper .btn-1 {
    padding: 16px 35.2px;
}
/* thank you content end  */
/* ============================ content wrapper area end ============================== */

/* ============================ other page section start ============================== */
.other-page-area {
    padding: 71px 0 121px;
}
.other-conent-wrapper h1 {
    color: #1D462E;
    font-size: 131px;
    margin-bottom: 28px;
}
/* ============================ other page section end ============================== */






