/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/

/* min-width 1500 */
@media (max-width: 1600px) {}

/* min-width 1500 */
@media (max-width: 1500px) {



}

/* max-width 1399 */
@media (max-width: 1399.98px) {
	
}

/* max-width 1199 */
@media (max-width: 1199.98px) {


}

/* max-width 991 */
@media (max-width: 991.98px) {


}

/* max-width 767 */
@media (max-width: 767.98px) {

	
}

/* max-width 575 */
@media (max-width: 575.98px) {
	
}

/* max-width 479 */
@media (max-width: 479.98px) {


}

/* max-width 383 */
@media (max-width: 383.98px) {


}

@media (max-width: 360px) {
	
}