/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/

/* min-width 1500 */
@media (max-width: 1600px) {
    /* shape */
    .content-shape-7,
    .content-shape-4 {
        max-width: 600px;
    }
    .content-shape-7{
        top: 0;
    }
    /* shape */
    /* ============================ single banner section start ============================== */
    .single-banner-circle-img {
        max-width: 150px;
        top: -32px;
        left: -10px;
    }
    /* ============================ single banner section end ============================== */
}

/* min-width 1500 */
@media (max-width: 1500px) {
/* ============================ supplier section start ============================== */
.supplier-card-area .row {
    --bs-gutter-x: 20px;
    --bs-gutter-y:37px;
}
/* ============================ supplier section end ============================== */



}

/* max-width 1399 */
@media (max-width: 1399.98px) {
    /* shape */
    .menu-shape-1 {
        top: 160px;
        left: 35px;
        max-width: 160px;
    }
    .menu-shape-2 {
        max-width: 600px;
    }
    .menu-shape-4 {
        max-width: 160px;
        right: 30px;
        bottom: 170px;
    }
    .menu-shape-3 {
        top: 110px;
        right: 0;
        max-height: 550px;
    }

    .content-shape-4{
        top: -330px;
    }
    .content-shape-5 {
        right: 300px;
        max-width: 200px;
    }
    .content-shape-7 {
        left: -100px;
        transform: rotate(75deg);
        opacity: 0.32;
        top: auto;
        bottom: 0;
    }
    .content-shape-6 {
        top: -50px;
        left: 70px;
        max-width: 220px;
    }

    /* shape */
    /* ============================ chef section start ============================== */
    .chef-content {
        padding-right: 50px;
    }
    /* ============================ chef section end ============================== */

    /* ============================ footer section start ============================== */
    .footer-main-menu .col:nth-child(3) ,
    .footer-main-menu .col:nth-child(2) {
        max-width: 240px;
    }
    .footer-main-menu .col:nth-child(4) {
        max-width: 200px;
        margin-left: -60px;
    }
    /* ============================ footer section end ============================== */

    /* ============================ content wrapper area start ============================== */
    .contact-wrapper-area {
        margin-left: 30px;
    }
    .contact-form-wrapper .row {
        --bs-gutter-x: 14px;
    }
    /* thank content */
    .thank-you-content-wrapper {
        margin-left: 30px;
        margin-bottom: 50px;
    }
    .thank-you-content-wrapper h1 {
        font-size: 50px;
    }
    /* thank content */
    /* ============================ content wrapper area end ============================== */
}

/* max-width 1199 */
@media (max-width: 1199.98px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding-left: 42px;
        padding-right: 42px;
    }
    .supplier-card-area {
        padding-left: 0px;
    }
    /* shape */
    .header-shape {
        top: -216px;
    }
    .chef-shape  ,
    .header-shape ,
    .banner-shape {
        max-width: 500px;
    }
    .chef-shape {
        left: -70px;
        top: 140px;
    }
    .testimonial-shape-2,
    .testimonial-shape-1 {
        max-width: 400px;
    }
    .menu-shape-18 ,
    .menu-shape-12,
    .menu-shape-7 ,
    .menu-shape-5 {
        max-width: 500px;
    }
    .menu-shape-6 {
        max-width: 200px;
        left: 30px;
    }
    .menu-shape-7 {
        left: -150px;
    }
    .menu-shape-8 {
        max-height: 200px;
        right: -140px;
    }
    .menu-shape-9 {
        max-width: 200px;
        right: 30px;
    }
    .menu-shape-10 {
        max-width: 500px;
        right: -134px;
    }
    .menu-shape-11 {
        max-width: 450px;
        right: -100px;
    }
    .menu-shape-13 {
        max-width: 380px;
    }
    .menu-shape-15 {
        max-width: 200px;
        left: 30px;
        bottom: 155px;
    }
    .menu-shape-14 {
        top: -200px;
    }
    .menu-shape-16 {
        max-width: 250px;
        right: -30px;
        bottom: 50px;
    }
    .menu-shape-18 {
        left: -220px;
    }
    .menu-shape-19 {
        max-width: 180px;
        bottom: 50px;
        right: 30px;
        transform: rotate(34deg);
    }
    .menu-shape-20 {
        max-width: 150px;
        top: 70px;
        right: -15px;
    }
    .single-banner-shape-2 {
        top: -250px;
        right: -150px;
        max-width: 450px;
    }
    .content-shape-4 {
        max-width: 350px;
        top: -200px;
        right: -100px;
    }
    .content-shape-5 {
        right: 200px;
        max-width: 120px;
        bottom: -50px;
    }
    .content-shape-6 {
        top: 0;
        left: 50px;
        max-width: 80px;
    }
    .content-shape-7 {
        left: -50px;
        bottom: 10px;
        max-width: 300px;
    }
    /* shape */

    /* ============================ header section start ============================== */
    .header-logo img {
        max-width: 250px;
    }
    .header-area {
        padding: 20px 0;
    }
    .single-banner-area {
        margin-top: 30px;
    }
    .right-button-wrapper {
        padding-right: 0px;
    }
    /* ============================ header section end ============================== */
    /* ============================ chef section start ============================== */
    .chef-content {
        margin-top: 50px;
    }
    /* ============================ chef section end ============================== */

    /* ============================ footer section start ============================== */
    .footer-main-menu .col {
        flex: 1 0 30%;
    }
    .copy-right-wrapper ,
    .footer-logo {
        margin-left: 0;
    }
    .footer-main-menu .col:nth-child(4) {
        max-width: 250px;
        margin-left: 0;
    }
    .footer-main-menu .row {
        --bs-gutter-y: 22px;
    }
    .footer-item-info p {
        margin-bottom: 10px;
    }
    .footer-item-info p:last-child{
        margin-bottom: 0;
    }
    /* ============================ footer section end ============================== */
    
    /* ============================ other page section start ============================== */
    .other-conent-wrapper h1 {
        font-size: 60px;
        margin-bottom: 12px;
    }
    /* ============================ other page section end ============================== */



}

/* max-width 991 */
@media (max-width: 991.98px) {

    /* header style */
    h1 {
        font-size: 55px;
    }
    
    h2 {
        font-size: 53px;
    }

    /* shape */
    .testimonial-shape-2, .testimonial-shape-1 {
        max-width: 300px;
    }
    .testimonial-shape-2 {
        top: 50px;
    }
    .testimonial-shape-1 {
        top: 20px;
    }
    .supplier-shape-1 {
        max-width: 200px;
    }
    .supplier-shape-2 {
        right: -60px;
        max-width: 200px;
    }
    .menu-shape-1 {
        top: 120px;
        left: 15px;
        max-width: 120px;
    }
    .menu-shape-2 {
        max-width: 350px;
        left: -60px;
        bottom: 200px;
    }
    .menu-shape-3 {
        top: 150px;
        right: 0;
        max-height: 350px;
    }
    .menu-shape-4 {
        max-width: 120px;
        right: 15px;
        bottom: 50px;
    }
    .menu-shape-7, .menu-shape-5 {
        max-width: 300px;
    }
    .menu-shape-5 {
        left: -50px;
    }
    .menu-shape-9 ,
    .menu-shape-6 {
        max-width: 120px;
    }
    .menu-shape-7 {
        left: -72px;
    }
    .menu-shape-8 {
        max-height: 120px;
        right: -80px;
    }
    .menu-shape-10 {
        max-width: 300px;
        right: -81px;
        bottom: 600px;
    }
    .menu-shape-11 {
        max-width: 300px;
        right: -50px;
    }
    .menu-shape-12 {
        max-width: 300px;
        top: 50px;
        left: -100px;
    }
    .menu-shape-13 {
        max-width: 250px;
        right: -30px;
        bottom: 50px;
    }
    .menu-shape-14 {
        top: -100px;
        max-height: 400px;
        left: -64px;
    }
    .menu-shape-15 {
        max-width: 120px;
        left: 20px;
        bottom: 50px;
    }
    .menu-shape-16 {
        max-width: 150px;
    }
    .menu-shape-18 {
        left: -130px;
        max-width: 300px;
    }
    .menu-shape-19 {
        max-width: 120px;
    }
    .menu-shape-20 {
        max-width: 120px;
    }
    .content-shape-3 {
        max-width: 150px;
        left: -13px;
        top: auto;
        bottom: 28px;
    }
    .content-shape-2 {
        max-width: 100px;
        right: -27px;
        bottom: auto;
        top: 134px;
        opacity: 0.36;
    }
    /* shape */

    .sub-title {
        font-size: 17px;
        letter-spacing: 3.4px;
    }
    .supplier-area .sub-title ,
    .chef-content .sub-title {
        margin-bottom: 0;
    }
    .content-shape-4{
        max-width: 300px;
    }
    .content-shape-4 {
        max-width: 300px;
        top: -100px;
        right: -50px;
    }
    /* ============================ header section start ============================== */
    .header-area {
        padding: 23px 0;
    }
    .header-logo img {
        max-width: 250px;
    }
    .mobile-header {
        width: calc(100% + 28px);
        margin-left: -14px;
    }
    /* ============================ header section end ============================== */

    /* ============================ banner section start ============================== */
    .banner-area {
        margin-top: 5px;
    }
    .banner-content {
        margin-bottom: 30px;
    }
    .banner-content h1 {
        font-size: 50px;
    }
    .banner-content p {
        font-size: 16px;
    }
    .banner-content .btn-1 {
        margin-top: 24px;
        font-size: 16px;
        padding: 11.5px 20.5px;
    }
    .video-area {
        width: calc(100% + 24px);
        margin-left: -12px;
    }
    .video-area video {
        height: 450px;
    }
    /* ============================ banner section end ============================== */

    /* ============================ chef section start ============================== */
    .chef-area {
        padding-top: 26px;
    }
    .chef-area .col {
        flex: 1 0 100%;
    }
    .chef-area .col:nth-child(2) {
        max-width: 100%;
    }
    .chef-content {
        max-width: 100%;
        margin-left: 0;
        margin-right: auto;
        padding-right: 0;
        margin-top: 0;
    }
    .chef-content h2 {
        font-size: 53px;
        line-height: 1;
        margin-bottom: 29px;
    }
    .chef-img-wrapper .chef-img {
        margin-bottom: 27px;
    }
    /* ============================ chef section end ============================== */

    /* ============================ supplier section start ============================== */
    .supplier-area {
        padding-top: 80px;
    }
    .chef-content-caption p {
        font-size: 16px;
    }
    .supplier-area .section-title-wrapper h2 {
        font-size: 55px;
        line-height: 1.04;
    }
    .supplier-area .section-title-wrapper {
        margin-bottom: 38px;
    }
    .chef-img-wrapper .chef-img ,
    .supplier-card-img-wrapper img {
        border-radius: 11px;
    }
    .supplier-content-wrapper h6 {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 0;
    }
    .supplier-content-wrapper  p{
        font-size: 16px;
    }
    .supplier-content-wrapper {
        margin-top: 16px;
    }
    .supplier-card-wrapper .btn-1 {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.42);
        padding: 13px 20px 13px 14px;
    }
    .supplier-card-wrapper .btn-1::before {
        border: 1.5px solid #FFFCF6;
    }
    .supplier-card-wrapper:hover .btn-1 {
        padding: 13.5px 23px 13.5px 14px;
        text-shadow: none;
    }
    /* ============================ supplier section end ============================== */

    /* ============================ testimonial section start ============================== */
    .testimonial-area {
        padding: 66px 0 58px;
    }
    .testimonial-content blockquote {
        font-size: 24px;
    }
    .testimonial-content h6 {
        font-size: 20px;
    }
    .testimonial-area .swiper {
        padding-bottom: 36px;
    }
    /* ============================ testimonial section end ============================== */

    /* ============================ cta section start ============================== */
    .cta-area::before {
        background: rgba(32, 32, 32, 0.43);
    }
    .cta-conent h2 {
        font-size: 50px;
        text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.45);
        letter-spacing: 3.51px;
        margin-bottom: 20px;
    }
    .cta-conent .btn-1 {
        padding: 8.5px 23px;
    }
    /* ============================ cta section end ============================== */

    /* ============================ footer section start ============================== */
    .footer-main-menu .col:nth-child(3), .footer-main-menu .col:nth-child(2) {
        max-width: 200px;
    }
    .footer-main-menu .col:nth-child(4) {
        max-width: 200px;
    }
    .copy-right-wrapper::before{
        content: "";
        position: absolute;
        left: -42px;
        top: 0;
        height: 0.5px;
        width: calc(100% + 84px);
        background-color: #fff;
        z-index: 1;
    }
    .copy-right-wrapper .row {
        flex-direction: column-reverse;
    }
    .other-link-wrapper {
        gap: 45px;
        margin-bottom: 10px;
    }
    .copy-right-wrapper {
        padding-top: 32px;
        margin-top: 27px;
    }
    /* ============================ footer section end ============================== */

    /* ============================ single banner section start ============================== */
    .single-banner-content h1 {
        font-size: 24px;
    }
    .single-banner-content h2 {
        font-size: 60px;
    }
    .single-banner-content,
    .single-banner-content::before{
        border-radius: 20px;
    }
    .single-banner-content {
        min-height: 400px;
        padding-bottom: 130px;
        width: calc(100% + 36px);
        margin-left: -18px;
    }
    .our-menu-wrapper ul {
        border: 0;
        border-radius: 0;
        flex-wrap: wrap;
        row-gap: 13px;
        column-gap: 10px;
    }
    .our-menu-wrapper ul li a::before {
        opacity: 0;
        visibility: hidden;
    }
    .our-menu-wrapper ul li:first-child a {
        margin-left: 0;
    }
    .our-menu-wrapper ul li:last-child a {
        margin-right: 0;
    }
    .our-menu-wrapper ul li a {
        border: 2px solid #E06138;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        padding: 5.5px 12.2px;
    }
    .our-menu-wrapper {
        margin-bottom: 30px;
        width: calc(100% + 36px);
        margin-left: -18px;
    }
    .single-banner-circle-img {
        max-width: 100px;
        top: -18px;
        left: -10px;
    }
    .single-banner-area {
        margin-top: 20px;
    }
    /* ============================ single banner section end ============================== */

    /* ============================ our menu area section start ============================== */
    .our-menu-area {
        padding: 40px 0 60px;
    }
    .our-menu-item h3{
        font-size: 28px;
    }
    .our-menu-item p {
        font-size: 16px;
        margin-bottom: 0;
    }
    .contact-content p br ,
    .our-menu-item br{
        display: none;
    }
    .our-menu-item {
        margin-bottom: 29px;
    }
    .extra-sides-area h2 {
        font-size: 60px;
        letter-spacing: 3px;
        margin-bottom: 14px;
    }
    .extra-sides-area h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .extra-sides-area {
        margin-top: 40px;
    }
    /* ============================ our menu area section end ============================== */

    /* ============================ content wrapper area start ============================== */
    .content-wrapper-area {
        padding: 54px 0;
    }
    .content-wrapper-area .col {
        flex: 1 0 100%;
    }
    .content-wrapper-area .row .col:nth-child(1) {
        max-width: 100%;
    }
    .content-wrapper-img img {
        height: 450px;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 11px;
    }
    .contact-wrapper-area {
        margin-left: 0;
        max-width: 100%;
        margin-top: 0px;
    }
    .content-wrapper-area > .container > .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 30px;
        flex-direction: column-reverse;
    }
    .other-conent-wrapper h1 ,
    .contact-content h1{
        font-size: 36px;
    }
    .content-wrapper-img {
        width: calc(100%  + 6px);
        margin-left: -3px;
    }
    .thank-you-info p ,
    .contact-content p {
        font-size: 20px;
    }
    /* thank content */
    .thank-you-content-wrapper {
        margin-left: 0px;
        margin-bottom: 0px;
        text-align: center;
        max-width: 100%;
        margin-top: 15px;
    }
    .thank-you-content-wrapper h1 {
        font-size: 40px;
    }
    .thank-you-info p {
        margin-bottom: 10px;
    }
    .thank-you-info {
        margin-bottom: 20px;
    }
    .other-conent-wrapper .btn-1 ,
    .thank-you-content-wrapper .btn-1 {
        padding: 11.5px 23.5px;
        font-size: 16px;
    }
    /* thank content */
    /* ============================ content wrapper area end ============================== */

    /* ============================ content wrapper area end ============================== */
    .other-page-area {
        padding: 70px 0;
    }
    /* ============================ content wrapper area end ============================== */



}

/* max-width 767 */
@media (max-width: 767.98px) {
    /* shape */
    .header-shape {
        max-width: 350px;
        top: -148px;
        right: -80px;
    }
    .banner-shape{
        max-width: 300px;
    }
    .banner-shape {
        max-width: 280px;
        top: 310px;
        left: -107px;
        transform: rotate(-21deg);
        opacity: 0.32;
    }
    .chef-shape {
        left: -30px;
        top: -30px;
        opacity: 0.37;
        max-width: 300px;
    }
    .supplier-shape-1 {
        max-width: 130px;
        top: 33px;
        left: auto;
        right: -13px;
    }
    .testimonial-shape-2, .testimonial-shape-1 {
        max-width: 200px;
    }
    .testimonial-shape-1 {
        top: -24px;
        left: -40px;
    }
    .testimonial-shape-2 {
        top: auto;
        bottom: -20px;
        right: -40px;
    }
    .single-banner-shape-2 {
        top: -178px;
        right: -66px;
        max-width: 285px;
        transform: rotateZ(15.12deg);
    }
    .content-wrapper-area  .single-banner-shape-2 {
        top: -160px;
    }
    .content-shape-4 {
        max-width: 200px;
    }
    .content-shape-5 {
        right: 70px;
        max-width: 100px;
        bottom: -50px;
    }
    .content-shape-7 {
        max-width: 230px;
    }
    /* shape */

    /* ============================ header section start ============================== */
    .header-logo img {
        max-width: 180px;
    }
    /* ============================ header section end ============================== */

    /* ============================ footer section start ============================== */
    .footer-area {
        padding: 9px 0 37px;
    }
    .footer-main-menu .col {
        flex: 1 0 100%;
    }
    .footer-main-menu .col:nth-child(5) ,
    .footer-main-menu .col:nth-child(3), .footer-main-menu .col:nth-child(2) ,
    .footer-main-menu .col:nth-child(4) {
        max-width: 100%;
    }
    .copy-right-wrapper, .footer-logo {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    .footer-logo img {
        max-width: 282px;
    }
    .footer-area .span-line {
        margin-bottom: 7px;
    }
    .footer-area .span-line-wrapper {
        margin-bottom: 29px;
    }
    .footer-main-menu .col:nth-child(3) .footer-item-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .footer-item {
        margin-bottom: 0;
    }
    .footer-item:last-child{
        margin-bottom: 20px;
    }
    .socials-link-wrapper {
        gap: 28px;
        margin-top: 9px;
    }
    .socials-link-wrapper a svg {
        height: 30px;
        width: 30px;
    }
    .footer-item-wrapper .btn-1.version-2 {
        margin-bottom: 10px;
    }
    .footer-item-wrapper .btn-1.version-2:nth-child(1) {
        padding: 11.5px 29px;
    }
    .footer-item-wrapper .btn-1.version-2:last-child {
        padding: 11.5px 18.5px;
    }
    .footer-main-menu {
        padding: 0 10px;
    }
    /* ============================ footer section end ============================== */

    /* ============================ our menu area section start ============================== */
    .our-menu-area {
        padding: 17px 0 53px;
    }
    .our-menu-item h3{
        font-size: 20px;
    }
    .extra-sides-area h2 {
        font-size: 50px;
    }
    .extra-sides-area h3 {
        font-size: 24px;
    }
    /* ============================ our menu area section end ============================== */

    /* ============================ content wrapper area start ============================== */
    .content-wrapper-img img {
        height: 350px;
    }
    /* ============================ content wrapper area end ============================== */
	
}

/* max-width 575 */
@media (max-width: 575.98px) {
        /* shape */
        .header-shape {
            max-width: 248px;
        }
        .banner-shape{
            max-width: 219px;
        }
        .banner-shape {
            max-width: 219px;
        }
        .chef-shape {
            max-width: 259px;
        }
        .supplier-shape-1 {
            max-width: 63px;
        }
        .testimonial-shape-2 {
            max-width: 102px;
            bottom: auto;
            top: 30px;
            right: auto;
            left: -19px;
            opacity: 0.45;
        }
        .testimonial-shape-1 {
            top: auto;
            left: auto;
            max-width: 120px;
            bottom: 23px;
            right: -28px;
            opacity: 0.53;
        }
        .menu-shape-1 {
            top: 263px;
            max-width: 72px;
            left: auto;
            right: -16px;
            opacity: 0.36;
        }
        .menu-shape-2 {
            max-width: 185px;
            left: auto;
            bottom: 211px;
            transform: scaleX(-1);
            right: -114px;
        }
        .menu-shape-3 {
            top: 288px;
            right: auto;
            max-height: 193px;
            left: -26px;
            transform: rotate(26.11deg);
        }
        .menu-shape-7, .menu-shape-5 {
            max-width: 200px;
        }
        .menu-shape-11 {
            max-width: 200px;
        }
        .menu-shape-8 {
            max-height: 100px;
            right: -70px;
        }
        .menu-shape-12 {
            max-width: 200px;
            top: 139px;
            left: -34px;
        }
        .menu-shape-13 {
            max-width: 150px;
            right: -14px;
            bottom: 133px;
        }
        .menu-shape-15 {
            max-width: 80px;
            left: auto;
            bottom: auto;
            top: 200px;
            right: 14px;
        }
        .menu-shape-16 {
            max-width: 100px;
            right: -27px;
            bottom: 46px;
        }
        .single-banner-shape-2 {
            top: -156px;
        }
        .content-wrapper-area  .single-banner-shape-2 {
            top: -148px;
        }
        /* shape */
	    /* ============================ header section start ============================== */
        .header-logo img {
            max-width: 128px;
        }
        /* ============================ header section end ============================== */

        /* ============================ banner section start ============================== */
        .video-area video {
            height: 393px;
        }
        /* ============================ banner section end ============================== */
        /* ============================ testimonial section start ============================== */
        .testimonial-content blockquote {
            font-size: 20px;
            margin-bottom: 14px;
        }
        .testimonial-content h6 {
            font-size: 17px;
        }
        /* ============================ testimonial section end ============================== */

        
        /* ============================ single banner section start ============================== */
        .single-banner-content h1 {
            font-size: 20px;
            letter-spacing: 4.8px;
        }
        .single-banner-content h2 {
            font-size: 34px;
            letter-spacing: 4.76px;
        }
        .single-banner-content {
            min-height: 145px;
            padding-bottom: 35px;
        }
        .single-banner-content, .single-banner-content::before{
            border-radius: 11px;
        }
        .single-banner-content::before {
            background: rgba(32, 32, 32, 0.31);
        }
        .single-banner-circle-img {
            max-width: 71px;
            top: -12px;
            left: -10px;
        }
        .single-banner-area {
            margin-top: 10px;
        }
        /* ============================ single banner section end ============================== */

        /* ============================ our menu area section start ============================== */
        .extra-sides-area h2 {
            font-size: 27px;
            letter-spacing: 1.62px;
            margin-bottom: 20px;
        }
        .extra-sides-area h3 {
            font-size: 20px;
            margin-bottom: 14px;
        }
        .extra-sides-area {
            margin-top: 36px;
        }
        /* ============================ our menu area section end ============================== */

            
        /* ============================ content wrapper area start ============================== */
        .content-wrapper-img img {
            height: 250px;
        }
        /* ============================ content wrapper area end ============================== */

        
        /* ============================ content wrapper area end ============================== */
        .other-page-area {
            padding: 20px 0 76px;
        }
        /* ============================ content wrapper area end ============================== */
}

/* max-width 479 */
@media (max-width: 479.98px) {


    /* shape */
    .menu-shape-5 {
        left: -32px;
        max-width: 130px;
        top: 133px;
    }
    .menu-shape-6 {
        max-width: 55px;
        left: -10px;
        margin-top: -337px;
    }
    .menu-shape-7 {
        left: -68px;
        max-width: 150px;
        bottom: 726px;
    }
    .menu-shape-8 {
        max-height: 46px;
        right: -35px;
        top: 360px;
    }
    .menu-shape-9 {
        max-width: 64px;
    }
    .menu-shape-9 {
        max-width: 64px;
        right: -19px;
        top: 764px;
    }
    .menu-shape-10 {
        max-width: 133px;
        right: -32px;
        bottom: 418px;
    }
    .menu-shape-11 {
        max-width: 137px;
        right: auto;
        left: -57px;
        bottom: 103px;
    }
    .menu-shape-12 {
        max-width: 110px;
    }
    .menu-shape-13 {
        max-width: 91px;
    }
    .menu-shape-15 {
        max-width: 63px;
    }
    .menu-shape-17 {
        max-height: 144px;
        top: 137px;
        left: -44px;
    }
    .menu-shape-16 {
        max-width: 82px;
    }
    .menu-shape-18 {
        left: -80px;
        max-width: 161px;
        top: 171px;
    }
    .menu-shape-19 {
        max-width: 53px;
        right: -5px;
        bottom: 28px;
    }
    .menu-shape-20 {
        max-width: 57px;
        transform: rotateZ(-46.03deg);
        right: -12px;
        top: 122px;
    }
    .single-banner-shape-2 {
        top: -132px;
        max-width: 167px;
        right: -37px;
    }
    .content-wrapper-area  .single-banner-shape-2 {
        top: -88px;
    }
    .content-shape-2 {
        max-width: 64px;
        top: 53px;
        right: -22px;
    }
    .content-shape-3 {
        max-width: 95px;
    }
    .content-shape-6 {
        top: -8px;
        left: 31px;
        max-width: 61px;
    }
    .content-shape-4 {
        max-width: 182px;
        right: -27px;
        top: -76px;
    }
    .content-shape-5 {
        right: -12px;
        max-width: 64px;
        bottom: 16px;
    }
    .content-shape-7 {
        left: -40px;
        bottom: 10px;
        max-width: 212px;
    }
    /* shape */
    
    /* ============================ chef section start ============================== */
    .chef-img-wrapper .chef-img {
        height: 288px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    .chef-content-caption {
        max-width: 287px;
    }
    /* ============================ chef section end ============================== */

    /* ============================ testimonial section start ============================== */
    .testimonial-content {
        max-width: 268px;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    }
    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
        height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    }
    /* ============================ testimonial section end ============================== */
    /* ============================ cta section start ============================== */
    .cta-area {
        padding: 58px 0 46px;
    }
    .cta-conent h2 {
        font-size: 39px;
        margin-bottom: 7px;
    }

    /* ============================ cta section end ============================== */

    /* ============================ single banner section start ============================== */
    .single-banner-content h1 {
        font-size: 16px;
    }
    .single-banner-content h2 {
        font-size: 34px;
    }
    /* ============================ single banner section end ============================== */

    /* ============================ content wrapper area start ============================== */
    .content-wrapper-area {
        padding: 0px 0 58px;
    }
    .contact-content h1 {
        font-size: 31px;
        margin-bottom: 0;
    }
    .contact-content p {
        font-size: 16px;
        max-width: 275px;
    }
    .contact-content {
        margin-bottom: 15px;
    }
    .contact-form-wrapper  .btn-1 {
        margin-top: 2px;
        padding: 8px 24px;
    }
    .content-wrapper-img img {
        height: 182px;
    }

    /* thank content */
    .other-conent-wrapper h1 ,
    .thank-you-content-wrapper h1 {
        font-size: 31px;
    }
    .thank-you-info p {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .thank-you-content-wrapper .btn-1 {
        margin-bottom: 8px;
    }
    .thank-you-area .content-shape-3 {
        max-width: 73px;
        bottom: 208px;
        left: -19px;
    }
    /* thank content */
    /* ============================ content wrapper area end ============================== */
}

/* max-width 383 */
@media (max-width: 383.98px) {
    .other-conent-wrapper .btn-1, .thank-you-content-wrapper .btn-1 {
        padding: 11.5px 18.5px;
        font-size: 16px;
    }

}

@media (max-width: 360px) {
	
}